spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:userdb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    com.paypal.user_service: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    io.opentelemetry: DEBUG
    io.micrometer.tracing: DEBUG

server:
  port: 8081

jwt:
  secret: mySuperSecretKey1234567890!@#...

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0   # 100% sampling; adjust as needed
  otlp:
    tracing:
      endpoint: "http://localhost:4318/v1/traces"


